<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>

  <meta charset="utf-8">
  <title>PLASMA: Playlists, Lyrics, and Songs Made Accessible</title>
  {{!-- Bulma Stylesheet --}}
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.2/css/bulma.min.css"/>
  {{!-- Font Awesome CDN Link --}}
  <script src="https://kit.fontawesome.com/f663e85456.js" crossorigin="anonymous"></script>
  {{!-- jQuery Javascript Library --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- CSS Stylesheet --}}
  <link rel="stylesheet" href="styles/styles.css" type="text/css" />

</head>

<body>

  {{{body}}}

</body>

</html>