<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <title>PLASMA: The Ultimate Playlist Platform</title>
  {{!-- Bulma Stylesheet --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
  {{!-- Bulma Deferred Font Awesome Javascript --}}
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  {{!-- jQuery Javascript Library --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- CSS Stylesheet --}}
  <link rel="stylesheet" href="/public/styles/styles.css" type="text/css" />
  {{!-- CSS Stylesheet --}}
  <link rel="stylesheet" href="/public/styles/styles.css" type="text/html" />
  {{!-- Javascript File --}}
  <script src="/public/js/index.js" charset="utf-8"></script>

</head>

<body>

  {{{body}}}

</body>

</html>