<style> body {margin-top: -52px;}</style>
<section>
    <div class="container" id="errorText">
        <h1 class="errorTitle" id="errorTitle">Whoops!</h1>
        <h3 class="errorSubtitle" id="errorSubtitle">We can't seem to find the page you're looking for. Would you like
            to return <a href="/dashboard">home</a>?</h3>
    </div>
    <section class="hero is-light is-fullheight" id="errorHeroBackground">
        <div class="hero-body">
            <img class="hero-background" id="errorHero" src="styles/images/palmLeafBackground.jpg"
                alt="Three Palm Leaves Against Pink Background">
        </div>
    </section>
</section>