<!-- Navbar for Dashboard -->
<nav class="navbar is-fixed-top box-shadow-y" id="dashboardNavbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <a href="#" class="navbar-item has-text-weight-bold has-text-black">PLASMA</a>
        <a href="#" class="navbar-burger nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item" id="homeText">
                <i class="fa fa-music" id="homeDashboardIcon"></i>Home
            </a>

            <a href="#" class="navbar-item">Search</a>
            <a href="#" class="navbar-item">Playlists</a>
            <a href="#" class="navbar-item">Recommendations</a>
        </div>

        <div class="navbar-end">
            <a href="#" class="navbar-item">Notifications</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">User</a>
                <div class="navbar-dropdown is-right">
                    <a href="#" class="navbar-item">Profile</a>
                    <a href="#" class="navbar-item">Settings</a>
                    <hr class="navbar-divider">
                    <a href="#" class="navbar-item">Log Out</a>
                </div>
            </div>

        </div>
</nav>

<!-- Sidebar for PLASMA Dashboard -->

<div class="columns is-variable is-0">
    <div>
        <div class="menu-container px-1 has-background-white" id="sidebarMenuBackground">
            <div class="menu-wrapper py-1">
                <aside class="menu" id="sidebarMenu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a><i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</a></li>
                        <li><a></a></li>
                    </ul>
                    <p class="menu-label">
                        My Playlists
                    </p>
                    <ul class="menu-list">
                        <li><a>Songs for Long Summer Nights</a></li>
                        <li><a>The Ultimate Indie Mix</a></li>
                        <li><a>Get Up and Dance</a></li>
                    </ul>
                    <p class="menu-label">
                        My Library
                    </p>
                    <ul class="menu-list">
                        <li><a>Songs</a></li>
                        <li><a>Artists</a></li>
                        <li><a>Genre</a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                        <li><a></a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>

    <!-- Desktop for PLASMA Dashboard -->
    <div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
        <div class="p-1">
            <div class="columns is-variable is-desktop">
                <div class="column">
                    <h1 class="title">Dashboard<h1>
                </div>
            </div>
        </div>
        <div class="columns is-variable is-desktop">
            <div class="column">
                <div class="card">
                    <div class="card-header" id="playlistCardHeader">
                        <div class="card-header-title"><button class="button is-rounded" id="makePlaylistButton"><i
                                    class="fa fa-plus" id="plusIcon" aria-hidden="true"></i>New Playlist</button>
                        </div>
                        <div class="card-content" id="playlistCardBody">
                            <p class="is-size-3">
                            <div class="field">
                                <div class="control"><button class="button is-rounded" id="searchButton"><i
                                            class="fa fa-search" id="plusIcon" aria-hidden="true"></i></button>
                                    <input class="input is-primary" type="text" placeholder="Search Song or Artist"
                                        id="userSearchQuery">
                                </div>
                            </div>
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="columns is-variable">
            <div class="column is-4-desktop is-6-tablet">
                <article class="message is-info">
                    <div class="message-header" id="songCardHeader">
                        <p>Songs</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body" id="songCardBody">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <strong>Pellentesque risus mi</strong>, tempus quis placerat
                        ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum
                        <a>felis venenatis</a> efficitur. Aenean ac
                        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu
                        et sollicitudin porttitor, tortor urna tempor ligula, id
                        porttitor mi magna a neque. Donec dui urna, vehicula et sem
                        eget, facilisis sodales sem.
                    </div>
                </article>
            </div>

            <div class="column is-4-desktop is-6-tablet">
                <article class="message is-success">
                    <div class="message-header" id="artistCardHeader">
                        <p>Artist</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body" id="artistCardBody">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <strong>Pellentesque risus mi</strong>, tempus quis placerat
                        ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum
                        <a>felis venenatis</a> efficitur. Aenean ac
                        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu
                        et sollicitudin porttitor, tortor urna tempor ligula, id
                        porttitor mi magna a neque. Donec dui urna, vehicula et sem
                        eget, facilisis sodales sem.
                    </div>
                </article>
            </div>

            <div class="column is-4-desktop is-6-tablet">
                <article class="message is-success">
                    <div class="message-header" id="lyricsCardHeader">
                        <p>Lyrics</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body" id="lyricsCardBody">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        <strong>Pellentesque risus mi</strong>, tempus quis placerat
                        ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet
                        fringilla. Nullam gravida purus diam, et dictum
                        <a>felis venenatis</a> efficitur. Aenean ac
                        <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu
                        et sollicitudin porttitor, tortor urna tempor ligula, id
                        porttitor mi magna a neque. Donec dui urna, vehicula et sem
                        eget, facilisis sodales sem.
                    </div>
                </article>
            </div>
        </div>

        <div class="columns is-variable is-20-desktop is-offset-2-desktop">
            <div class="column">
                <article class="message is-success">
                    <div class="message-header" id="searchResultsCardHeader">
                        <p>Search Results</p>
                        <button class="delete" aria-label="delete" id="clearButton"></button>
                    </div>
                    <div class="message-body" id="searchResultsCardBody">
                    
                    </div>
                </article>
            </div>
        </div>
    </div>