<!-- Navbar for PLASMA Dashboard -->
<nav class="navbar is-fixed-top box-shadow-y" id="dashboardNavbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <a href="#" class="navbar-item has-text-weight-bold has-text-black">PLASMA</a>
        <a href="#" class="navbar-burger nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu has-background-white">
        <div class="navbar-start">
            <a href="#" class="navbar-item" id="homeText">
                <i class="fa fa-music" id="homeDashboardIcon"></i>Home
            </a>

            <a href="#" class="navbar-item">Search</a>
            <a href="#" class="navbar-item">Playlists</a>
            <a href="#" class="navbar-item">Recommendations</a>
        </div>

        <div class="navbar-end">
            <a href="#" class="navbar-item">Notifications</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">User</a>
                <div class="navbar-dropdown is-right">
                    <a href="#" class="navbar-item">Profile</a>
                    <a href="#" class="navbar-item">Settings</a>
                    <hr class="navbar-divider">
                    <a href="#" class="navbar-item">Log Out</a>
                </div>
            </div>

        </div>
</nav>

<!-- Sidebar for PLASMA Dashboard -->

<div class="columns is-variable is-0">
<div>
    <div class="menu-container px-1 has-background-white" id="sidebarMenuBackground">
        <div class="menu-wrapper py-1">
            <aside class="menu" id="sidebarMenu">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a><i class="fa fa-tachometer"></i>&nbsp;&nbsp;Dashboard</a></li>
                    <li><a>Customers</a></li>
                </ul>
                <p class="menu-label">
                    Administration
                </p>
                <ul class="menu-list">
                    <li><a>Team Settings</a></li>
                    <li>
                    <a class="is-active has-background-primary">Manage Your Team</a>
                    <ul>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>
                    </ul>
                    </li>
                    <li><a>Invitations</a></li>
                    <li><a>Cloud Storage Environment Settings</a></li>
                    <li><a>Authentication</a></li>
                </ul>
                <p class="menu-label">
                    Transactions
                </p>
                <ul class="menu-list">
                    <li><a>Payments</a></li>
                    <li><a>Transfers</a></li>
                    <li><a>Balance</a></li>
                </ul>
                </aside>
        </div>
    </div>
</div>
