<!-- Navbar for Dashboard -->
<nav class="navbar is-fixed-top box-shadow-y" id="dashboardNavbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <a href="#" class="navbar-item has-text-weight-bold has-text-black"><a href="#" class="navbar-item"
                id="homeText">
                <i class="fas fa-compact-disc" id="plasmaIcon"></i>PLASMA</a>
            <a href="#" class="navbar-burger nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link"><i class="fas fa-user" id="dashboardUserIcon"></i>User</a>
                <div class="navbar-dropdown is-right">
                    <a href="#" class="navbar-item">Profile</a>
                    <a href="#" class="navbar-item">Settings</a>
                    <hr class="navbar-divider">
                    <a href="/login" class="navbar-item">Log Out</a>
                </div>
            </div>

        </div>
</nav>

<!-- Sidebar for PLASMA Dashboard -->
<div class="columns is-variable is-0">
    <div>
        <div class="menu-container px-1 has-background-white" id="sidebarMenuBackground">
            <div class="menu-wrapper py-1">
                <aside class="menu" id="sidebarMenu">
                    <p class="menu-label">
                        My Playlists
                    </p>
                    <ul class="menu-list">
                        {{#each playlists}}
                        <li data-id="{{this.id}}" class="playlistListItem">{{this.name}}</li>
                        {{/each}}
                    </ul>
                </aside>
            </div>
        </div>
    </div>

<!-- Desktop for PLASMA Dashboard -->
<div class="column is-10-desktop is-offset-2-desktop is-9-tablet is-offset-3-tablet is-12-mobile">
    <div class="p-1">
        <div class="columns is-variable is-desktop">
            <div class="column">
                <h1 class="title" id="dashboardUserInfo">Welcome back, {{nameOfUser}}!<h1>
            </div>
        </div>
    </div>

    <div class="columns is-variable is-10-desktop is-offset-2-desktop">

        <div class="column is-6-desktop">
            <article class="message is-success">
                <div class="message-header" id="playlistCardHeader">
                    <p>Make Playlist</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" id="playlistCardBody">
                    <div class="field">
                        <div class="control">
                            <button class="button is-rounded" id="makePlaylistButton">
                                <i class="fas fa-plus" id="plusIcon"></i>
                                New Playlist</button>
                            <input class="input" type="text" placeholder="New Playlist Name" id="newPlaylistName">

                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="column is-6-desktop">
            <article class="message is-success">
                <div class="message-header" id="searchBarsCardHeader">
                    <p>Song Search Bars</p>
                    <button class="delete" aria-label="delete" id="searchBarsClearButton"></button>
                </div>
                <div class="message-body" id="searchBarsCardBody">
                    <div class="field">
                        <div class="control"><button class="button is-rounded" id="songSearchButton">
                                <i class="fas fa-search" id="searchIcon"></i>
                            </button>
                            <input class="input is-primary" type="text" placeholder="Search Song by Title"
                                id="userSongSearchQuery">

                            <div class="control"><button class="button is-rounded" id="artistSearchButton">
                                    <i class="fas fa-search" id="searchIcon"></i>
                                </button>
                                <input class="input is-primary" type="text" placeholder="Search Song by Artist"
                                    id="userArtistSearchQuery">
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

    <div class="columns is-variable">
        <div class="column is-4-desktop is-6-tablet">
            <article class="message is-info">
                <div class="message-header" id="songCardHeader">
                    <p id="selectedPlaylist">Playlist Tracks</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" id="songCardBody">
                    <ul id="playlistSongsList">

                    </ul>
                </div>
            </article>
        </div>

        <div class="column is-4-desktop is-6-tablet">
            <article class="message is-success">
                <div class="message-header" id="artistCardHeader">
                    <p>Artist/Album Information</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" id="artistCardBody">
                    <img id="myImage" src="" />
                </div>
            </article>
        </div>

        <div class="column is-4-desktop is-6-tablet">
            <article class="message is-success">
                <div class="message-header" id="songSearchResultsCardHeader">
                    <p>Search Results for Songs by Title</p>
                    <button class="delete" aria-label="delete" id="songClearButton"></button>
                </div>
                <div class="message-body" id="songSearchResultsCardBody">

                </div>
            </article>
        </div>
    </div>


    <div class="columns is-variable is-10-desktop is-offset-2-desktop">

        <div class="column is-8-desktop">
            <article class="message is-success">
                <div class="message-header" id="lyricsCardHeader">
                    <p>Song Lyrics</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body" id="lyricsCardBody">
                </div>
            </article>
        </div>

        <div class="column">
            <article class="message is-success">
                <div class="message-header" id="artistSearchResultsCardHeader">
                    <p>Search Results for Songs by Artist</p>
                    <button class="delete" aria-label="delete" id="artistClearButton"></button>
                </div>
                <div class="message-body" id="artistSearchResultsCardBody">

                </div>
            </article>
        </div>
    </div>

<script src="js/dashboard.js" charset="utf-8"></script>