<!-- Navbar for PLASMA Dashboard -->
<nav class="navbar is-fixed-top box-shadow-y" id="dashboardNavbar">
    <div class="navbar-brand">
        <a href="#" class="navbar-burger toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <a href="#" class="navbar-item has-text-weight-bold has-text-black">PLASMA</a>
        <a href="#" class="navbar-burger nav-toggler">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>

    <div class="navbar-menu has-background-white">
        <div class="navbar-start">
            <a href="#" class="navbar-item" id="homeText">
                <i class="fa fa-music" id="homeDashboardIcon"></i>Home
            </a>

            <a href="#" class="navbar-item">Search</a>
            <a href="#" class="navbar-item">Playlists</a>
            <a href="#" class="navbar-item">Recommendations</a>
        </div>

        <div class="navbar-end">
            <a href="#" class="navbar-item">Notifications</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">User</a>
                <div class="navbar-dropdown is-right">
                    <a href="#" class="navbar-item">Profile</a>
                    <a href="#" class="navbar-item">Settings</a>
                    <hr class="navbar-divider">
                    <a href="#" class="navbar-item">Log Out</a>
                </div>
            </div>

        </div>
</nav>

