<section class="hero is-success is-fullheight is-bold has-background">
    <div class="hero-body" id="homepageHero">
        <div class="container">
            <h1 class="title" id="homepageTitle">PLASMA</h1>
            <h3 class="subtitle" id="homepageSubtitle">The Ultimate Playlist Platform</h3>
            <button class="button is-rounded" id="enterButton">Access Your Playlists</button>
        </div>
        <img class="hero-background" src="public/styles/images/tropicalImage.jpg"
            alt="Tropical Leaf on Pastel Stationery" id="tropicalLeafStationery">
    </div>
</section>