<style> body {margin-top: -52px;}</style>
<section class="hero is-link is-fullheight">
  <div class="hero-body" id="hero">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black" id="loginTitle">PLASMA</h3>
        <hr class="login-hr" id="loginLine">
        <p class="subtitle has-text-black">Welcome back! Please login to access your playlists.</p>
        <div class="box" id="userInfoBox">
          <figure class="avatar" id="avatar">
            <img src="styles/images/recordIcon4.png" id="avatarImage">
          </figure>
          <form>
            <div class="field">
              <div class="control">
                <input class="input is-large" id="username" type="email" placeholder="Your Email" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" id="password" type="password" placeholder="Your Password">
              </div>
            </div>
            <div class="field" id="rememberMe">
              <label class="checkbox">
                <input type="checkbox">
                Remember me
              </label>
            </div>
            <button class="button is-block is-link is-large is-fullwidth" id="loginButton">Login<i class="fa fa-sign-in"
                id="loginIcon" aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-grey" id="linksText">
          <a href="../signup">Sign Up</a> &nbsp;·&nbsp;
          <a href="../">Forgot Password</a> &nbsp;·&nbsp;
          <a href="../">Need Help?</a>
        </p>
      </div>
    </div>
  </div>

 {{!-- REQUIRE LOGIN.JS!!!   --}}
<script src="js/login.js" charset="utf-8"></script>

</section>