<style> body {margin-top: -52px;}</style>
<section class="hero is-link is-fullheight">
    <div class="hero-body" id="hero">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-black" id="signupTitle">PLASMA</h3>
                <hr class="login-hr" id="loginLine"/>
                <p class="subtitle has-text-black">
                    Welcome! Please fill in this form to create an account.
                </p>
                <div class="box" id="userInfoBox">
                    <figure class="avatar" id="avatar">
                        <img src="styles/images/recordIcon4.png" id="avatarImage" />
                    </figure>
                    <form>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="name" type="text" placeholder="Your Name"
                                    autofocus="" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="username" type="email" placeholder="Your Email"
                                    autofocus="" />
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" id="password" type="password"
                                    placeholder="Your Password" />
                            </div>
                        </div>
                        <div class="field" id="rememberMe">
                            <label class="checkbox">
                                <input type="checkbox" />
                                Remember me
                            </label>
                        </div>
                        <button class="button is-block is-link is-large is-fullwidth" id="signupButton">Sign Up<i class="fas fa-user-plus" id="userIcon"></i>
                        </button>
                    </form>
                </div>
                <p class="has-text-grey" id="linksText">Already have an account?
                    <a href="../login"> Sign in here.</a> &nbsp;·&nbsp;
                </p>
            </div>
        </div>
    </div>
<script src="js/signup.js" charset="utf-8"></script>
</section>