@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body {
    font-family: "Questrial", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#loginTitle, #signupTitle {
    font-weight: bold;
}

#loginButton, #signupButton  {
    background-color: #FCB280;
    margin-top: 20px;
    font-family: "Questrial", sans-serif;
}

#makePlaylistButton {
    font-family: "Questrial", sans-serif;
    font-weight: bold;
    background-color: #FCB280;
    font-size: 18px;
    color: darkslategray;
    padding: 10px;
    margin-top: 30px;
}

#newPlaylistName {
    margin-left: 20px;
    width: 250px;
    margin-bottom: 35px;
    margin-top: 30px;
}

#loginLine {
    color: #FCB280;
}

#hero {
    background-color: #FCBEBF;
}

#homepageHero {
    background-color: #B5EAD7;
}

#errorHero {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    left: 0px;
    z-index: 0;
}

#errorText {
    position: fixed;
    z-index: 1;
    margin-top: 200px;
    margin-left: 100px;
}

#avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-top: -70px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

#avatarImage {
    height: auto;
    max-width: 100%;
}

.box {
    margin-top: 5rem;
}

#password {
    margin-bottom: 20px;
}

#linksText {
    color: #C7CEEA;
}

#userIcon, #loginIcon, #plusIcon, #searchIcon {
    padding-right: 10px;
    padding-left: 10px;
}

#plasmaIcon, #dashboardUserIcon {
    height: 30px;
    width: 30px;
    vertical-align: baseline;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#homepageHeroBackground, #errorHeroBackground {
    position: relative;
    overflow: hidden;
}

#errorHeroBackground {
    z-index: -1;
}

#tropicalLeafStationery {
    position: absolute;
    left: 0px;
    object-fit: cover;
    object-position: center center;
    width: 50%;
    height: 100%;
}

#homepageTitle {
    font-size: 60px;
    font-weight: bold;
    text-align: right;
    padding-right: 20px;
}
  
#homepageSubtitle {
    font-size: 25px;
    text-align: right;
    padding-right: 20px;
}

#errorTitle {
    font-size: 80px;
    color: white;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
}

#errorSubtitle {
    font-size: 45px;
    color: white;
    text-align: left;
    padding-left: 20px;
}

#enterButton {
    font-family: "Questrial", sans-serif;
    font-size: 24px;
    float: right;
    padding: 20px;
    margin-top: 50px;
    background-color: #FCB280;
    color: white;
    font-weight: bold;
}

.box-shadow-y {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.px-1, .p-1 {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.py-1, .p-1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.menu-container {
    position: fixed;
    bottom: 0;
    margin: auto;
    min-width: 300px;
    z-index: 10;
    background-color: transparent;
}

@media (min-width:1024px) {
    .menu-container {
        width: 16.6667%;
        min-width: auto;
    }
}

#userInfoBox {
    background-color: #B5EAD7;
}

#userSongSearchQuery {
    width: 300px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#userArtistSearchQuery {
    width: 300px;
    margin-top: 10px;
}

#playlistCardBody, #songCardBody, #lyricsCardBody, #artistCardBody, #songSearchResultsCardBody, #artistSearchResultsCardBody, #searchBarsCardBody  {
    background-color: #FCBEBF;
}

#songCardBody, #lyricsCardBody, #artistCardBody, #songSearchResultsCardBody, #artistSearchResultsCardBody, #dashboardUserInfo, #playlistCardBody {
    color: darkslategray;
}

#playlistCardHeader, #lyricsCardHeader, #songCardHeader, #artistCardHeader, #songSearchResultsCardHeader, #artistSearchResultsCardHeader, #searchBarsCardHeader {
    background-color: #B5EAD7;
    color: darkslategray;
}

input::placeholder {
    font-family: "Questrial", sans-serif;
    text-align: center;
}

#sidebarMenuBackground {
    background-color: #FEF1E8;
}

a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#songSearchButton, #artistSearchButton {
    margin-right: 20px;
    background-color: #FCB280;
    margin-top: 10px;
}