@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

html, body {
    font-family: "Questrial", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#loginTitle, #signupTitle {
    font-weight: bold;
}

#loginButton, #signupButton  {
    background-color: #C7CEEA;
    margin-top: 20px;
}

#hero {
    background-color: #FF9AA2;
}

#avatar img {
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-top: -70px;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

#avatarImage {
    height: auto;
    max-width: 100%;
}

.box {
    margin-top: 5rem;
}

#password {
    margin-bottom: 20px;
}

#linksText {
    color: #C7CEEA;
}

#userIcon {
    padding-right: 10px;
    padding-left: 10px;
}